html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: unset;
}

h1{
    font-size: 24px;
    margin: 10px 0;
}

#root {
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 100vh;
}

#root > div:first-child {
    width: 100%;
    height: 70px;
    background: white;
}

.center {
    width:100%;
    max-width: 1400px;
}

.middle-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.trim_text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.scroll{
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
    scrollbar-color: transparent;
}
.scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.scroll::-webkit-scrollbar-track {
    background-color: transparent;
}
.scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
}

.nav{
    justify-content: unset;
}

.logo {
    width: 40px;
}

.search{
    width: 0;
    height: 100%;
    flex-grow: 1;
}

.search>input{
    background-color: rgb(254, 252, 250);
    border-radius: 40px 0px 0px 40px;
    font-family: inherit;
    font-size: inherit;
    height: 32px;
    outline: 0px;
    padding: 0px 20px;
    position: relative;
    max-width: 500px;
    min-width: 40%;
    color: rgb(136, 136, 151);
    border: 1px solid rgb(155, 126, 170);
}

.search-button{
    width: 65px;
    height: 32px;
    border: 1px solid rgb(155, 126, 170);
    border-left: none;
    border-radius: 0px 40px 40px 0px;
    background-color: rgb(248 248 248);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
}

.search_tips{
    margin: 5px;
    color: #787878;
}
.search_tips>span{
    color:black;
}

.history{
    width: 70px;
}

#root > main {
    width: 100%;
    background: #f8f8f8;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#root > div:last-child {
    height: 50px;
    width: 100%;
    background: rgb(245 245 245);
}

#vlist{
    display:grid;
}

#vlist > article{
    box-sizing: border-box;
    min-width: 0;
    aspect-ratio: 1.5;
    overflow: hidden;
    padding: 8px;
}

#vlist .vbox{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    border-radius: 5px;
    height: 100%;
}

#vlist .vbox:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px -1px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 2px 4px 1px;
}

#vlist .cover{
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 0;
    background: -webkit-linear-gradient(60deg, rgb(158 173 223 / 80%), transparent), -webkit-radial-gradient(91% 89%, ellipse closest-corner, rgba(146, 17, 87, 0.4), transparent 280%), -webkit-radial-gradient(left center, ellipse farthest-side, rgba(255, 245, 222, 0.8) 0%, transparent 100%), -webkit-radial-gradient(10% 90%, ellipse closest-corner, rgba(222, 255, 165, 0.8) 0%, transparent 100%), -webkit-radial-gradient(right center, ellipse cover, rgb(255, 226, 180), transparent), -webkit-radial-gradient(10% 10%, circle farthest-side, rgba(54, 72, 42, 0.5), transparent), -webkit-linear-gradient(140deg, rgba(40, 176, 180, 0.9), transparent), -webkit-radial-gradient(center, rgba(228, 58, 58, 0.9), transparent);
}

#vlist .cover > img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    transition: .1s ease-in-out;
}

#vlist .cover > img:hover{
    max-width: 110%;
    max-height: 110%;
    width: 110%;
    height: 110%;
}

#vlist .vbox header{
    background: white;
    height: 30px;
    line-height: 30px;
    border-radius: 0 0 5px 5px;
    padding: 0 5px;
}

.#vlist .vbox header>span{
    font-size: 16px;
}

.homepage-text {
    padding: 10px;
}

.video-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1024px;
    width: 100%;
}
.video-box>h1{
    width: 100%;
    font-size: 20px;
}
#video{
    max-height: 720px;
}

#video-content{
    flex-direction: column;
}

#video-content h3{
    padding:0 5px;
    margin: 10px 0 0;
}
#video-content h3::after {
    content: "";
    -webkit-box-flex: 1;
    flex-grow: 1;
    background: rgb(67 67 67);
    height: 1px;
    width: 100%;
    display: block;
}

#tag-nav{
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    padding: 0;
    overflow-x: scroll;
    margin: 10px 5px 0;
}

#tag-nav>li {
    margin-right: 10px;
    margin-bottom: 7px;
}

#tag-nav a{
    background: linear-gradient( 180deg, #303030 0, #585858 49%, #000 59%, #3e3e3e 100% );
    border: 1px solid #262626;
    box-shadow: inset 0 3px 9px #232323, inset 0 3px 12px #323232, inset 0 15px 9px #4a4a4a, inset 0 3px 3px 0 #8b8b8b, 0 1px 3px rgb(16 16 16 / 66%);
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px !important;
    padding: 5px 10px;
    transition: 20ms ease-out;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    color: #fff;
    white-space: nowrap;
}

#tag-nav a:hover {
    background: #545454;
    border: 1px solid #262626;
    box-shadow: inset 0 2px 5px #141414, inset -2px 0 3px #444;
    color: #ccc;
}

@media only screen and  (max-width: 640px) {
    .homepage-text{
        display: none;
    }
    #vlist{
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 641px) and (max-width:960px)  {
    #vlist{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 961px) and (max-width: 1399px)  {
    #vlist{
        grid-template-columns: repeat(3, 1fr);
    }
    .logo {
        width: 45px;
    }
    #tag-nav{
        flex-wrap: wrap;
        overflow: hidden;
    }
}

@media only screen and (min-width: 1400px) {
    #vlist{
        grid-template-columns: repeat(4, 1fr);
    }
    .center {
        width: 100%;
    }
    .logo {
        width: 50px;
    }
    #tag-nav{
        flex-wrap: wrap;
        overflow: hidden;
    }
}