<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/ape.ico"/>
    <title>PinayPorn- Best Pinay Sex Videos of apebt.com | {{.Title}}</title>
    <meta name="description"
          content="Watch the best PinayPorn Sex Videos at apebt Sex Scandals. There are thousands of Filipina homemade porn videos videos here.">
    <!--facebook-->
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="PinayPie- Best Pinay Sex Videos of PinayPie.net | KANTOTIN">
    <meta property="og:description"
          content="Watch the best PinayPorn Sex Videos at apebt Pinay Sex Scandals. There are thousands of Filipina homemade porn videos videos here.">
    <meta property="og:url" content="https://kantotin.com/tag/pinaypie/">
    <meta property="og:site_name" content="Pinay Sex Scandal - Watch Porn Sex Videos Online | APEBT">
    <link rel="stylesheet" media="all" href="/static/app.css">
    <link href="/static/videojs.css" rel="stylesheet">
    <script src="/static/video.js"></script>
    <script src="/static/app.js"></script>
</head>
<body>
<div id="root" class="middle-flex">
    <div class="middle-flex">
        <div class="nav center middle-flex">
            <a href="/" class="middle-flex">
                <img class="logo" src="/img/ape.png"/>
                <h1>apeBT</h1>
            </a>
            <div class="search middle-flex">
                <input placeholder="Search"/>
                <div class="search-button">
                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24"
                         viewBox="0 0 24 24" width="24" focusable="false"
                         style="pointer-events: none; display: block; width: 100%; height: 100%;">
                        <path d="m20.87 20.17-5.59-5.59C16.35 13.35 17 11.75 17 10c0-3.87-3.13-7-7-7s-7 3.13-7 7 3.13 7 7 7c1.75 0 3.35-.65 4.58-1.71l5.59 5.59.7-.71zM10 16c-3.31 0-6-2.69-6-6s2.69-6 6-6 6 2.69 6 6-2.69 6-6 6z"></path>
                    </svg>
                </div>
            </div>
            <div class="history"></div>
        </div>
    </div>
    <main class="middle-flex">
        <div class="center middle-flex" id="video-content">
            <div class="video-box">
                <h1>{{.Title}}</h1>
                <video id="video" class="video-js vjs-default-skin vjs-big-play-centered" fullscreen playsinline
                       controls
                       preload="auto"
                       data-setup='{ "aspectRatio":"640:360", "playbackRates": [1, 1.5, 2] }'>
                </video>
                <ul id="tag-nav" class="scroll">{{.label_list}}</ul>
            </div>
            <div>
                <h3>recommend videos</h3>
                <div id="vlist">
                    {{.vlist}}
                </div>
            </div>
        </div>
    </main>
    <div class="middle-flex">
        <div class="center"></div>
    </div>
</div>
</body>
<script>
    const player = videojs('video', {
        sources: [{
            src: {{.url}},
            type: 'application/x-mpegURL',
        }],
        autoplay: false
    }, function onPlayerReady() {
        videojs.log('播放器准备好了!');
    });
    document.addEventListener('visibilitychange', function () {
        if (document.visibilityState === 'hidden') {
            player.pause();
        } else {
            player.play();
        }
    });
</script>
{{.footer}}
</html>